# Auto detect text files and perform LF normalization
* text=auto
source[[:space:]]code/ filter=lfs diff=lfs merge=lfs -text
Examples/ filter=lfs diff=lfs merge=lfs -text
source[[:space:]]code filter=lfs diff=lfs merge=lfs -text
Examples filter=lfs diff=lfs merge=lfs -text
Examples/** filter=lfs diff=lfs merge=lfs -text
source[[:space:]]code/** filter=lfs diff=lfs merge=lfs -text
